apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "zigbee2mqtt.fullname" . }}
  labels:
{{- include "zigbee2mqtt.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "zigbee2mqtt.selectorLabels" . | nindent 6 }}
  serviceName: {{ include "zigbee2mqtt.name" . }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "zigbee2mqtt.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "zigbee2mqtt.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: ZIGBEE2MQTT_DATA
          value: "/data"
        - name: TZ
          value: {{ .Values.timezone }}
        {{- if .Values.debug }}
        - name: DEBUG
          value: {{ .Values.debug }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        volumeMounts:
        - name: zigbee2mqtt
          mountPath: /app/configuration.yaml
          subPath: configuration.yaml
        - name: data
          mountPath: /data
        - name: sniffer
          mountPath: {{ .Values.config.serial.port }}
      {{- if .Values.ui.enabled }}
      - name: {{ .Chart.Name }}-ui
        image: "{{ .Values.ui.image.repository }}:{{ .Values.ui.image.tag | default "latest" }}"
        imagePullPolicy: {{ .Values.ui.image.pullPolicy }}        
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: http
            scheme: HTTP
          initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
          failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
          timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
        readinessProbe:
          httpGet:
            path: /
            port: http
            scheme: HTTP
          initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
          failureThreshold: {{ .Values.probes.readiness.failureThreshold }}
          timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
        env:
        - name: TZ
          value: {{ .Values.timezone }}
        - name: Z2MA_SETTINGS__MQTTSERVER
        {{- $server := default "mqtt://localhost:1883" .Values.config.mqtt.server -}}
        {{- $protocol := (split "://" $server)._0 }}
        {{- $domain := (split ":" (split "://" $server)._1)._0 }}
        {{- $port := (split ":" $server)._2 }}
          value: {{ $domain }}
        {{- if eq $protocol "mqtts"}}
        - name: Z2MA_SETTINGS__MQTTSECURE
          value: true
        {{- end }}
        {{- if $port }}
        - name: Z2MA_SETTINGS__MQTTPORT
          value: {{ $port }}
        {{- end }}
        {{- if .Values.config.mqtt.user }}
        - name: Z2MA_SETTINGS__MQTTUSERNAME
          value: {{ .Values.config.mqtt.user }}
        {{- end }}
        {{- if .Values.config.mqtt.password }}
        - name: Z2MA_SETTINGS__MQTTPASSWORD
          value: {{ .Values.config.mqtt.password }}
        {{- end }}
        {{- if .Values.config.mqtt.base_topic }}
        - name: Z2MA_SETTINGS__BASETOPIC
          value: {{ .Values.config.mqtt.base_topic }}
        {{- end }}
        {{- if and .Values.config.homeassistant .Values.config.advanced.homeassistant_discovery_topic }}
        - name: Z2MA_SETTINGS__HOMEASSISTANTDISCOVERYBASETOPIC
          value: {{ .Values.config.advanced.homeassistant_discovery_topic }}
        {{- end }}
      {{- end }}
      volumes:
      - name: zigbee2mqtt
        configMap:
          name: {{ include "zigbee2mqtt.fullname" . }}
      - name: sniffer
        hostPath:
          path: {{ required "You must specify a path to your zigbee sniffer" .Values.config.serial.port }}
      {{- if not .Values.persistence.enabled }}
      - name: data
        emptyDir: {}
      {{- end }}
      {{- if and .Values.persistence.enabled .Values.persistence.existingClaim }}
      - name: data
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.existingClaim }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  volumeClaimTemplates:
  {{- if and .Values.persistence.enabled (not .Values.persistence.existingClaim) }}
  - metadata:
      name: data
      labels:
        app.kubernetes.io/name: {{ include "zigbee2mqtt.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    {{- if .Values.persistence.annotations }}
      annotations:
    {{ toYaml .Values.persistence.annotations | indent 4 }}
    {{- end }}
    spec:
      accessModes: [ {{ .Values.persistence.accessMode | quote }} ]
      resources:
        requests:
          storage: {{ .Values.persistence.size | quote }}
    {{- if .Values.persistence.storageClass }}
    {{- if (eq "-" .Values.persistence.storageClass) }}
      storageClassName: ""
    {{- else }}
      storageClassName: {{ .Values.persistence.storageClass | quote }}
    {{- end }}
    {{- end }}
  {{- end }}
